## Подключение к базе данных PostgreSQL

In [5]:
import psycopg2
import pandas as pd

In [6]:
conn = psycopg2.connect(dbname = 'demo', user='postgres', 
                        password='1234', host='localhost')

In [7]:
cursor = conn.cursor()

In [8]:
cursor.execute('SELECT * FROM bookings LIMIT 10')

In [9]:
query = """ SELECT * FROM tickets
                INNER JOIN ticket_flights USING(ticket_no) 
                INNER JOIN flights USING(flight_id) """

In [10]:
df = pd.read_sql_query(query, con = conn)

In [11]:
df.head()

,flight_id,ticket_no,book_ref,passenger_id,passenger_name,contact_data,fare_conditions,amount,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,30625,0005435212374,B3E42B,7439 263605,VERONIKA TARASOVA,{'phone': '+70372550663'},Comfort,23900.0,PG0013,2017-07-16 15:15:00+00:00,2017-07-16 17:00:00+00:00,AER,SVO,Arrived,773,2017-07-16 15:18:00+00:00,2017-07-16 17:04:00+00:00
1,30625,0005435212367,949E48,4819 398643,ELIZAVETA KOROLEVA,{'phone': '+70609911759'},Economy,14000.0,PG0013,2017-07-16 15:15:00+00:00,2017-07-16 17:00:00+00:00,AER,SVO,Arrived,773,2017-07-16 15:18:00+00:00,2017-07-16 17:04:00+00:00
2,30625,0005435212340,DC74E3,4757 279063,LIDIYA ABRAMOVA,{'phone': '+70218535523'},Economy,14000.0,PG0013,2017-07-16 15:15:00+00:00,2017-07-16 17:00:00+00:00,AER,SVO,Arrived,773,2017-07-16 15:18:00+00:00,2017-07-16 17:04:00+00:00
3,30625,0005435212379,8E9373,7200 541610,ALEKSANDR MAKSIMOV,{'phone': '+70122043275'},Economy,14000.0,PG0013,2017-07-16 15:15:00+00:00,2017-07-16 17:00:00+00:00,AER,SVO,Arrived,773,2017-07-16 15:18:00+00:00,2017-07-16 17:04:00+00:00
4,30625,0005435212396,959F20,8679 727676,KRISTINA YAKOVLEVA,"{'email': 'k.yakovleva-1973@postgrespro.ru', '...",Economy,14000.0,PG0013,2017-07-16 15:15:00+00:00,2017-07-16 17:00:00+00:00,AER,SVO,Arrived,773,2017-07-16 15:18:00+00:00,2017-07-16 17:04:00+00:00

In [12]:
df.shape

(1045726, 17)

In [15]:
conn.close()